* {
    margin: 0;
    padding: 0;
}


.section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: white;
    justify-content: center;
    background-color: rgb(238, 238, 238);

}

.container {
    margin: 40%;
    padding: 10px;
    width: 15%;
    height: 20%;
    background: white;
    border: 0px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: start;
}
