article {
    background: rgb(52, 100, 156);
    border-radius: 1rem;
    font-style: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    padding: 1rem;
    margin: 5%;
}

h1 {
    font-style: Georgia, serif;
}