@media (max-width: 500px) {
    table {
        display: inline-block;
    }
    tr, thead {
        float: left;
    }
    th, td {
        padding: 10px;
        box-sizing: border-box;
        display: block;
        width:100%;
    }
}

.table {
    border-width: 1px;
    border-color: rgb(222, 222, 222);
    border-style: solid;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    margin-top: 10%;
}
.top{
    background: black;
    color: white;
    text-align: left;
}

.first-tr{
    background: rgb(200, 200, 200);
}

.second-tr{
    background: rgb(240, 240, 240);
}
